<div class="mainLogoContainer">
  <img class="mainLogo" src="images/logo.png"/>
</div>
<div class="toolBar">
  <button class="RegionBtn" style="--clr:#358a6b" onclick="filterSelection('all')"><span>Show all</span><i></i></button>
  <button class="RegionBtn" style="--clr:#df495a" onclick="filterSelection('NAfrica')"><span>Northern Africa</span><i></i></button>
  <button class="RegionBtn" style="--clr:#ffb715" onclick="filterSelection('CAfrica')"><span>Central Africa</span><i></i></button>
  <button class="RegionBtn" style="--clr:#4f6fd5" onclick="filterSelection('WAfrica')"><span>Western Africa</span><i></i></button>
  <button class="RegionBtn" style="--clr:#ef830f" onclick="filterSelection('EAfrica')"><span>Eastern Africa</span><i></i></button>
  <button class="RegionBtn" style="--clr:#7baddc" onclick="filterSelection('SAfrica')"><span>Southern Africa</span><i></i></button>
</div>

@code {

}
