@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: "AvertaItalic";
  src: url("../fonts/averta/Averta-Italic.ttf");
}

/*[ SPACING ]
///////////////////////////////////////////////////////////
*/

/* PADDING LEFT */
.p-l-55 {padding-left: 55px;}

/* PADDING RIGHT */
.p-r-55 {padding-right: 55px;}

/* PADDING TOP */
.p-t-10 {padding-top: 10px;}
.p-t-25 {padding-top: 25px;}

/* PADDING BOTTOM */
.p-b-5 {padding-bottom: 5px;}
.p-b-10 {padding-bottom: 10px;}
.p-b-40 {padding-bottom: 40px;}

/* MARGIN TOP */
.m-t-10p {margin-top: 10%;}
.m-t-5p {margin-top: 5%;}

/*[ TEXT ]
///////////////////////////////////////////////////////////
*/

.text-center {text-align: center;}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}
 
/*[ ELEMENTS ]
///////////////////////////////////////////////////////////
*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:hover {
	text-decoration: none;
  color: #a64bf4;
}


h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/*[ CLASSES ]
///////////////////////////////////////////////////////////
*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.login-container {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;

}

.container-card {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrap-card {
  width: 500px;
  background: #fffffff2;
  border-radius: 10px;
  overflow: hidden;
}

.wrap-settings {
  width: 500px;
  background: #fffffff2;
  border-radius: 10px;
  overflow: hidden;
}

.cardformnone{
  display: none;
}

.loginformblock{
  display: flex;
}

.card-form {
  width: 100%;
}

.container-card-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-card-form-btn {
  width: 45%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.wrap-card-form-btn-left50{
  bottom: 0;
}

.logo-container {
  display: flex;
  justify-content: center;

}

.logo-img {
  width: 90%;
}

.logo-img-card{
  opacity: 0.05;
  width:150%;
  height: 450px;
}

.card-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #4E7064;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.green-lemon{
  background: -webkit-linear-gradient(right, #51BCA0, #B8C776, #51BCA0, #B8C776);
  background: -o-linear-gradient(right, #51BCA0, #B8C776, #51BCA0, #B8C776);
  background: -moz-linear-gradient(right, #51BCA0, #B8C776, #51BCA0, #B8C776);
  background: linear-gradient(right, #51BCA0, #B8C776, #51BCA0, #B8C776);
}

.black-greengrey{
  background: -webkit-linear-gradient(right, #1e5342, #4E7064, #1e5342, #4E7064);
  background: -o-linear-gradient(right, #1e5342, #4E7064, #1e5342, #4E7064);
  background: -moz-linear-gradient(right, #1e5342, #4E7064, #1e5342, #4E7064);
  background: linear-gradient(right, #1e5342, #4E7064, #1e5342, #4E7064);
}

.card-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.card-form-btn:disabled,
.card-form-btn[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.wrap-card-form-btn:hover .card-form-bgbtn {
  left: 0;
}

@media (max-width: 576px) {
  .wrap-card {
    padding-left: 15px;
    padding-right: 15px;
  }
} 

@media (max-width: 576px) {
  .wrap-settings {
    padding-left: 15px;
    padding-right: 15px;
  }
} 

.overlay {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.forfeitbanner-container{
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

.forfeitbanner{
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.forfeitcounter-container{
  height: 25%;
  position: relative;
  margin-bottom: 5%;
  margin-top: 10%;
}

.forfeitcounter{
  margin: 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn 2s;
}

.forfeit-text{
  text-align: center;
  font-family: AvertaItalic;
  font-size: 50px;
  animation: flicker 3s;
  
}

.forfeit-text-container {
  margin-bottom: 75px;
}

.popup {
  border-radius: 20px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  width: 25%; 
  height: 50%; 
  margin: auto;

  @media (max-width: 768px) {
    width: 90%;
    margin: auto 5%;
  }
}

.popup-inner {
  position: relative;
  height: 100%;
  border-radius: 25px;
} 

input.s3-btn-close {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  width: 5%;
  background: black;
  border: solid 2px white;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
} 

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes flicker {
  0% { opacity: 0; }
  2% { opacity: 1; }
  4% { opacity: 0; }
  6% { opacity: 1; }
  7% { opacity: 0; }
  8% { opacity: 1; }
  9% { opacity: 0; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  20% { opacity: 1; }
  22% { opacity: 0; }
  24% { opacity: 1; }
  30% { opacity: 0; }
  50% { opacity: 1; }
  55% { opacity: 0; }
  60% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}
.drinkselection {
  display: none;
}

.drinkquantity {
  display: none;
}

/* RULEBOOK */
.rulebook-container{
  position: absolute;
  width: 550px;
  background: #ffffff;
}

.backtogame-container {
  margin-bottom: 20px;
}

.back-icon {
  margin-right: 10px;
  font-size: 50px;
}