/*[ PADDING ]
///////////////////////////////////////////////////////////
*/

/* LEFT */
.p-l-55 {padding-left: 55px;}

/* RIGHT */
.p-r-55 {padding-right: 55px;}

/* TOP */
.p-t-10 {padding-top: 10px;}
.p-t-25 {padding-top: 25px;}

/* BOTTOM */
.p-b-5 {padding-bottom: 5px;}
.p-b-10 {padding-bottom: 10px;}
.p-b-40 {padding-bottom: 40px;}


/*[ TEXT ]
///////////////////////////////////////////////////////////
*/

.text-center {text-align: center;}

